/Build/Behat/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Build/create-branch.sh
/Build/create-changelog.sh
/Build/set-dependencies.sh
/Build/tag-release.sh
/Configuration/**/*.example
/Configuration/PackageStates.php
/Configuration/README
/Configuration/Production/IncludeCachedConfigurations.php
/Data/
/Packages/Application/Flowpack.*
/Packages/Application/TYPO3.*
/Packages/Application/M12.*
/Packages/Framework/TYPO3.*
/Packages/Libraries/
/Packages/Plugins/M12.Foundation/
/Packages/Plugins/M12.Plugin.Blog/
/Packages/Plugins/M12.Utils/
/Packages/Plugins/RobertLemke.Rss/
/Packages/Sites/TYPO3.*
/Web/_Resources/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat

# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"

# We don't use Apache, so it's unlikely we would like to track them
.htaccess

.idea/
.vagrant/
node_modules/
BowerComponents/
