/Build/Behat/*
/Build/BowerComponents/
/Build/BuildEssentials
/Build/node_modules/
/Build/Reports
/Build/Resources
/Configuration/**/*.example
/Configuration/PackageStates.php
/Configuration/README
/Configuration/**/IncludeCachedConfigurations.php
/Data/
/Packages/Application/Flowpack.*
/Packages/Application/TYPO3.*
/Packages/Framework/
/Packages/Libraries/
/Packages/Neos/
/Packages/Plugins/M12.*
#/Packages/Plugins/Pb.*
/Packages/Plugins/RobertLemke.Rss/
/Packages/Sites/TYPO3.*
/Web/_Resources/
/bin/
/Readme.rst
/Readme.txt
/Upgrading.rst
/Upgrading.txt
/flow
/flow.bat
/BowerComponents
/node_modules
beard.lock

# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"

# We don't use Apache, so it's unlikely we would like to track them
.htaccess

.idea/
.vagrant/
