<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
	<f:section name="metadata">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</f:section>

	<f:section name="javascripts">
		<script src="{f:uri.resource(path: 'Vendors/modernizr/modernizr.js', package: 'M12.Site')}"></script>
	</f:section>

	<f:section name="stylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/app.css', package: 'M12.Site')}" media="all"/>
	</f:section>
</head>
<body>
<f:section name="body">
	<f:if condition="{hasTeaser}">
		{content.teaser -> f:format.raw()}
	</f:if>
	{parts.menu -> f:format.raw()}

	<f:if condition="{hasGridWrapper}">
		<f:then>
			<main class="row">
				<f:if condition="{hasSidebar} OR {isBlogPage}">
					<f:then>
						<div class="small-12 medium-8 large-9 columns">{content.main -> f:format.raw()}</div>
						<div class="small-12 medium-4 large-3 columns sidebar">{content.sidebar -> f:format.raw()}</div>
					</f:then>
					<f:else>
						<div class="small-12 columns">{content.main -> f:format.raw()}</div>
					</f:else>
				</f:if>
			</main>
		</f:then>
		<f:else>
			<main>{content.main -> f:format.raw()}</main>
		</f:else>
	</f:if>

	<footer>{footer -> f:format.raw()}</footer>
</f:section>
<f:section name="bodyScripts">
	<script src="{f:uri.resource(path: 'Vendors/jquery/dist/jquery.min.js', package: 'M12.Site')}"></script>
	<script src="{f:uri.resource(path: 'Vendors/foundation/js/foundation.min.js', package: 'M12.Site')}"></script>
	<script src="{f:uri.resource(path: 'Vendors/jquery.scrollTo/jquery.scrollTo.min.js', package: 'M12.Site')}"></script>
	<script src="{f:uri.resource(path: 'Vendors/jquery.localScroll/jquery.localScroll.min.js', package: 'M12.Site')}"></script>
	<script src="{f:uri.resource(path: 'Scripts/app.js', package: 'M12.Site')}"></script>
</f:section>
</body>
</html>
