// Styles for Generic Site Content:
// 01. GENERIC
// 02. TYPOGRAPY
// 03. COLORS
// 04. CODE SNIPPET
// 05. TABLE
// 06. FIGURE
// 07. IMAGE
// 08. PAGINATION


// 01. --------------------------- GENERIC STYLE ---------------------------

html {
	@media #{$small-only} {
		font-size: 80%;
	}
	@media #{$medium-only} {
		font-size: 90%;
	}
}

body > main {
	padding-bottom: 3rem;
	@media #{$small-only} {
		padding-bottom: 0;
	}
}

// 02. --------------------------- TYPOGRAPY ---------------------------
header{
	text-align: center;
	h1 {
		position: relative;
		display: inline-block;  // inline-block so that the underline(divider) can be sized in relation to h1 width
		margin-top: $h1-top-margin;
		margin-bottom: $h1-bottom-margin;
		line-height: $h1-line-height;
		@include divider(80%, $line-color, false);
	}
}

h5 {
	font-weight: $h5-font-weight;
}

p {
	font-weight: inherit;
	letter-spacing: 0.3px;
	&:last-child {
		margin-bottom: 0;
	}
}

b {
	font-weight: 600;
}

.footnote {
    > p, li {
        font-size: 0.9rem;
    }
}


// 03. --------------------------- COLORS ---------------------------
.bg-white {
	background-color: $bg-color-white;
}
.bg-lighter {
	background-color: $bg-color-lighter; // lighter than default $body-bg
}
.bg-medium {
	background-color: $bg-color-medium; // slightly darker than default $body-bg
}
.bg-darker {
	background-color: $bg-color-darker;    // darker than default $body-bg
}
.bg-dark {
	background-color: $bg-color-dark; // dark background (to use eg. above footer)
	color: $font-color-white;
	h1, h3 {
		color: $font-color-white;
	}
}

// 04. --------------------------- CODE SNIPPET ---------------------------
code, pre, kbd, samp {
    font-family: $code-font-family;
}

.m12-neos-nodetype-codesnippet-codesnippet {
	margin: 15px 0;
	border: 1px solid $border-color;
	border-radius: 3px;
	font-weight: normal;
	color: #555;

	h5 {
		margin: 0;
		padding: 7px 10px;
		border-bottom:thin solid $border-color;
		background: $bg-color-darker;
		text-shadow: 1px 1px 0 #fff;
		font-size: rem-calc(12px);
		font-weight: 600;
	}
	pre {
		padding: 7px 10px;
		background: $bg-color-white;
	}
}

// 05. --------------------------- TABLE ---------------------------
table {
	width: 100%;
	//border-radius: 3px;
	tr {
		&:first-child {
			font-weight: 600;
			text-shadow: 1px 1px 0 #fff;
			border-bottom: thin solid $border-color;
		}
		&:nth-child(odd) {
			background-color: $bg-color-darker;
		}
		&:nth-child(even) {
			background-color: $bg-color-medium;
		}
	}
}

// 06. --------------------------- FIGURE ---------------------------
figure {
	margin: 0 0 1rem 0;
	//border: thin solid $border-color;
}

// 07. --------------------------- IMAGE ---------------------------
img {
}
// Used for thumbnail images. Foundation comes with a.th class, but we also
// add this class if there's no href attribute for <a> element.
.th--no-href {
    &:hover { cursor: default; }
}


// 08. --------------------------- PAGINATION ---------------------------
ul.pagination {
	margin-left: 0;
	text-align: center;
	li {
		float: none;
		display: inline-block;
	}
}

.pb-neos-codeembed-code {
    margin-bottom: 1rem;
    .gist .gist-meta {
        opacity: .3;
        font-family: $body-font-family !important;
        a:nth-child(2) {
            display: none;
        }
    }
}
