// Styles of Homepage Content
// 01. ALL SECTIONS IN HOMEPAGE
// 02. MEET US SECTION
// 03. FROM OUR BLOG
// 04. BEFORE FOOTER/OPEN SOURCE

// 01. --------------------------- ALL SECTIONS IN HOMEPAGE ---------------------------
.home-page {
	section {
		padding: 3rem 0 4rem 0;
		@media #{$small-only} {
			padding-top: 1rem;
			padding-bottom: 2rem;
		}
	}
	& > main {
		padding-bottom: 0;
	}
}


// 02. --------------------------- MEET US SECTION ---------------------------

.section-meet-us--columns {
	font-size: $h5-font-size;

	figure {
		margin: 0;
		img { width: 100% }
	}

	h3 {
		margin: 1rem 0;
		@media #{$small-only} { // on small screen H3 is getting too small
			font-size: $h3-font-size;
		}
	}
	.button {
		cursor: default;
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(10);
		text-transform: uppercase;
	}
	p {
		font-size: inherit;
	}
	
	> .columns.medium-6:nth-child(2n+1) {
		@media #{$medium-only} {
			clear: both;
		}
	}
}

// 03. --------------------------- FROM OUR BLOG ---------------------------

.home-page {
	.blog-post-item {
		margin: 2rem 0;
		&:last-child {
			margin-bottom: 0;
		}
		&:after {
			display: none;
		}
		.read-more {
			display: none;
		}
	}
}
// 04. --------------------------- BEFORE FOOTER/OPEN SOURCE ---------------------------

.section-os {
	h3 {
		font-size: 1.2rem;
	}

	ul, p {
		font-size: 0.9rem;
	}
}
