// Styles for Layout:
// 01. NAVIGATION
// 02. MEET US SECTION
// 03. FOOTER

// 01. --------------------------- NAVIGATION ---------------------------

.top-bar {
	// Logo Styles
	.title-area .name a {
		width: 95px;
		background: image-url('logo-black.png') left center / 95px no-repeat;

		// Make the logo size smaller for small and medium screens
		@media #{$small-only}, #{$medium-only} {
			width: 85px;
			background-size: 85px;
		}
		// Hide "M12.io"
		span {
			visibility: hidden;
		}
	}

	// Menu Styles
	.top-bar-section {
		padding: 0;
		.has-dropdown {
			> a {
				padding-right: 20px !important; // override Foundations padding-right which is too big (40px)
				// Use FontAwesome icon for the arrow for dropdown lists, instead of Foundations styles
				// Arrow for top level list is fa-angle-down
				&:after {
					content: $fa-var-angle-down;
					position: absolute;
					display: block;
					top: 50%;
					right: -12px;
					width: auto;
					height: auto;
					margin-top: -7px;
					border: none;
					line-height: 1.2;
					color: scale-color($topbar-link-color, $lightness: 75%); // set the color to a lighter shade
					font: {
						family: $font-family-fontawesome;
						size: 12px;
					}
					// Arrow for small screen is fa-angle-right
					@media #{$small-only} {
						content: $fa-var-angle-right;
						margin-top: -8px;
						right: 0;
					}
					@media #{$medium-only} {
						right: -21px;
					}
				}
				// Set the color for hover
				&:hover:after {
					color: $primary-color;
				}
			}
			.dropdown {
				background-color: $bg-color-medium;
				box-shadow: 2px 3px 15px -5px rgba(100,100,100,0.6);
				li {
					// use mixin to create divider for the list items - divider(width,bg-color,skip-last-child)
					@include divider(90%, $bg-color-darker, true);
					@media #{$small-only} { @include divider(96%, $bg-color-darker, true); }
					a {
						background-color: transparent;
					}
					// Arrow for nested dropdown list (specificity is high in order to override Foundation's style)
					&.has-dropdown {
						> a {
							&:after {
								content: $fa-var-angle-right;
								top: 50%;
								margin-top: -7px;
								right: -8px;
								color: scale-color($topbar-link-color, $lightness: 50%); // a bit darker shade than toplevel
							}
							&:hover:after {
								color: $primary-color;
							}
						}
					}
				}
			}
		}

		@media #{$medium-only} {
			ul.right {
				> li {
					> a {
						padding: 0 10px;
						font-size: 0.8rem;
					}
				}
				// Reset the padding-right for medium screen, for the top level list item, that's why its specific to ul.right
				> .has-dropdown {
					> a {
						padding-right: 10px !important;
					}
				}
			}
		}

		@media #{$small-only} {
			li {
				@include divider(96%, $bg-color-darker, true);
			}
		}
	}
}

// 02. ----------------- MEET US SECTION ------------------

.section-meet-us--columns {
	// content inside
	.m12-foundation-container {
		padding: 0 $column-gutter/2 $column-gutter/2;
	}

	@media #{$medium-up} {
		// Set white color for whole container and add divider between them via &:before
		background-color: $bg-color-white;
		position: relative; // so the divider is positioned relatively to this element, not the whole parent section

		// Divider between columns, with the background colour like the parent section
		// positioned exactly in the center
		&:before {
			background-color: $bg-color-darker;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			width: $column-gutter;
			margin-left: -$column-gutter/2;
			display: block !important; // override Foundation :before styling
		}

		> .columns {
			// add padding, so there's a space between them, exactly with the same with as the divider
			&:first-child { padding-right: $column-gutter/2 }
			&:last-child { padding-left: $column-gutter/2 }
		}
	}
	@media #{$small-only} {
		// On small device these columns are collapsed, so instead of divider
		// simply set background colour on each column and margin between them.
		> .columns {
			background-color: $bg-color-white;
			margin-bottom: $column-gutter;
		}
	}
}

// 03. --------------------------- FOOTER ---------------------------
footer {
	padding: 1.2rem 0;
	background-color: $bg-color-black;
	color: $font-color-gray;

	p {
		font-size: 0.8rem;
	}
}

