// Styles for Layout:
// 01. NAVIGATION
// 02. MEET US SECTION
// 03. FOOTER

// 01. --------------------------- NAVIGATION ---------------------------

.top-bar {
	// Logo Styles
	.title-area .name a {
		width: 95px;
		background: image-url('logo-black.png') left center / 95px no-repeat;

		// Make the logo size smaller for small and medium screens
		@media #{$small-only}, #{$medium-only} {
			width: 85px;
			background-size: 85px;
		}
		// Hide "M12.io"
		span {
			visibility: hidden;
		}
	}

	// Menu Styles
	.top-bar-section {
		padding: 0;
		.has-dropdown {
			> a {
				padding-right: 20px !important; // override Foundations padding-right which is too big (40px)
				// Use FontAwesome icon for the arrow for dropdown lists, instead of Foundations styles
				// Arrow for top level list is fa-angle-down
				&:after {
					content: $fa-var-angle-down;
					position: absolute;
					display: block;
					top: 50%;
					right: -12px;
					width: auto;
					height: auto;
					margin-top: -7px;
					border: none;
					line-height: 1.2;
					color: scale-color($topbar-link-color, $lightness: 75%); // set the color to a lighter shade
					font: {
						family: $font-family-fontawesome;
						size: 12px;
					}
					// Arrow for small screen is fa-angle-right
					@media #{$small-only} {
						content: $fa-var-angle-right;
						margin-top: -8px;
						right: 0;
					}
					@media #{$medium-only} {
						right: -21px;
					}
				}
				// Set the color for hover
				&:hover:after {
					color: $primary-color;
				}
			}
			.dropdown {
				background-color: $bg-color-medium;
				box-shadow: 2px 3px 15px -5px rgba(100,100,100,0.6);
				li {
					// use mixin to create divider for the list items - divider(width,bg-color,skip-last-child)
					@include divider(90%, $bg-color-darker, true);
					@media #{$small-only} { @include divider(96%, $bg-color-darker, true); }
					a {
						background-color: transparent;
					}
					// Arrow for nested dropdown list (specificity is high in order to override Foundation's style)
					&.has-dropdown {
						> a {
							&:after {
								content: $fa-var-angle-right;
								top: 50%;
								margin-top: -7px;
								right: -8px;
								color: scale-color($topbar-link-color, $lightness: 50%); // a bit darker shade than toplevel
							}
							&:hover:after {
								color: $primary-color;
							}
						}
					}
				}
			}
		}

		@media #{$medium-only} {
			ul.right {
				> li {
					> a {
						padding: 0 10px;
						font-size: 0.8rem;
					}
				}
				// Reset the padding-right for medium screen, for the top level list item, that's why its specific to ul.right
				> .has-dropdown {
					> a {
						padding-right: 10px !important;
					}
				}
			}
		}

		@media #{$small-only} {
			li {
				@include divider(96%, $bg-color-darker, true);
			}
		}
	}
}

// 02. ----------------- MEET US SECTION ------------------

.section-meet-us--columns {
	> .columns {
		margin-bottom: $column-gutter/2;
	}
	
	.m12-foundation-container {
		height: 100%;
		padding-bottom: $column-gutter/2;
		background-color: $bg-color-white;
		
		// Everything inside the container with white bg
		// is padded, apart of the 1st child (the image photo)
		> * {
			padding-left: $column-gutter/2;
			padding-right: $column-gutter/2;
			&:first-child { padding-left:0; padding-right:0 }
		}
	}
}

// 03. --------------------------- FOOTER ---------------------------
footer {
	padding: 1.2rem 0;
	background-color: $bg-color-black;
	color: $font-color-gray;

	p {
		font-size: 0.8rem;
		@media #{$small-only} {
			text-align: center;
		}
	}
}

