// Intentionally make this selector over-specific so it takes priority over anything else.
#neos-application.neos {
	// Re-set font size for UL, which is set globally for whole body and takes priority.
	ul {
		font-size: inherit !important;
	}
	#neos-navigate-panel:not(.neos-navigate-panel-context-structure-open) {
		#neos-node-tree {
			height: 30%;
		}
		#neos-context-structure {
			height: 70%;
		}
	}
}
