// M12.IO SETTINGS
$OpenSansPath: '../Vendors/open-sans-fontface/fonts';

// import Foundation's functions which allows the use of rem-calc
@import "foundation/functions";

// TYPOGRAPHY
// font size -- is set in _settings.scss by Foundation
//$h1-font-size: rem-calc(48);
//$h2-font-size: rem-calc(35);
//$h3-font-size: rem-calc(25);
//$h4-font-size: rem-calc(18);
//$h5-font-size: rem-calc(14);
//$h6-font-size: rem-calc(14);
//$paragraph-font-size: rem-calc(18);

// sidebar heading font size
$sidebar-h1-font-size: rem-calc(25);
$sidebar-h2-font-size: 1rem;
$sidebar-paragraph-font-size: 1rem;

// font weight
$h5-font-weight: 400;
// line heights
$h1-line-height: 1.4;
$h2-line-height: 1.25;
$h3-line-height: 1.25;
$h4-line-height: 1.25;
$h5-line-height: 1.25;

// margins
$h1-top-margin: 2rem;
$h1-bottom-margin: 2rem;
$h2-top-margin: 1rem;
$h2-bottom-margin: 1rem;
$h3-top-margin: 1rem;
$h3-bottom-margin: 1rem;
$h4-top-margin: 1rem;
$h4-bottom-margin: 1rem;
$h5-top-margin: 1rem;
$h5-bottom-margin: 1rem;

// COLORS
// background colors
$bg-color-white: #fff;
$bg-color-lighter: #fff;
$bg-color-medium: #f9f9f9;
$bg-color-darker: #eee;
$bg-color-dark: #2e2e2e; // slightly lighter than $bg-black-color (e.g. for pre-footer content)
$bg-color-black: #111; // e.g. for footer background
$tag-bg-color-dark: #888;
$tag-bg-color-light: #e7e7e7;

// font colors
$font-color-black: #333;
$font-color-white: #fff; // to use on dark bg
$font-color-gray: #999; // to use on dark bg, but lighter
$font-family-fontawesome: 'FontAwesome';

// border, divider colors
$line-color: rgba(#c4c4c4,0.5); // for underlining headings or for table lines, etc
$border-color: #ddd;

// splashscreen colors
$splashscreen-button-color: rgba(0,0,0,0.1);
$splashscreen-button-hover-color: rgba(0,0,0,0.3);
