// Classes for M12.Foundation:AbstractDevCustomLook

.text-small {
    font-size: 90%;
    p { font-size: inherit }
}

.text-xsmall {
    font-size: 80%;
    p { font-size: inherit }
}

.text-xxsmall {
    font-size: 70%;
    p { font-size: inherit }
}

.text-color-white {
    color: #fff;
}
